<header class="panel-heading">Edit weypoint</header>
<div class="panel-body" id="editWaypoint">
	<div class="group">
		<label>Name:</label> <input ng-model="waypoint.name" class="form-control" />
		<label>Latitude:</label> <input ng-model="waypoint.lat" class="form-control" />
		<label>Longitude:</label> <input ng-model="waypoint.lng" class="form-control" />
		<label>Description:</label> <textarea ng-model="waypoint.desc" class="form-control"></textarea>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default" ng-click="done()">Done</button>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#/" title="" ng-click="cancel()">Cancel</a></li>
			<li><a href="#/" title="" ng-click="remove()">Remove</a></li>
		</ul>
	</div>
</div>
